.scanner {
    position: relative;
    width: 50%;
  }
  
  .scanner:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  
  .scanner_content {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
  }